.texto-align{
    width: 300px;
    height: 150px;
    border: solid #F00 2px;
    border: border-bo;
    text-align: center;
}

.texto-align h2{
    border-bottom: solid #F00 2px;
    padding-bottom: 10px;
}

.underline{
    text-decoration: underline;
}

.line-though{
    text-decoration: line-through;
}

.remove-underline{
    text-decoration: none;
    color: #000;
}

.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}
.spacing{
    letter-spacing: 5px;
}

/* display */
.inline-box{
    width: 100px;
    height: 100px;
    background-color: #2F4;
    margin: 10px;
    display: inline-block;
}

.block{
    background-color: #2F4;
    margin: 10px ;
    display: block;
}

/* Escondendo elemento!! */
.me-encontre{
    background-color: #F00;
    display: none;
}

/* Posições de elementos */
.static{
    position: static;
    background-color: #2F4;
    width: 100px;
    height: 100px;
    color: #FFF;
}

.relative{
    position: relative;
    background-color: #2F4;
    width: 100px;
    height: 100px;
    color: #FFF;
    margin-top: 30px;
    left: 100px;
    top: 24px;
}

.absolute{
    position: relative;
    background-color: #2F4;
    width: 100px;
    height: 100px;
    color: #FFF;
    margin-top: 30px;
    left: 100px;
    top: 24px;

}

.relative-container{
    width: 300px;
    height: 300px;
    background-color: #234;
    position: absolute;
    left: 100px;
}